
html {
 padding-bottom:65px;
  align-items: center;
  background-color: rgb(179, 208, 219);
  font-family: "Roboto", sans-serif;
  border: 2px groove;

  

 
}
.circle:hover {
    color: rgb(15, 3, 3);
    background-color: rgb(186, 246, 246);
    cursor: pointer;
  }

  
.page1 {
  background-color: white;
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 10px;
  
}




  
  .side {
    margin-right: 20px;
    padding: 20px;
    background-color: #6c99d9;
  }
  
  .circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #00a3e0;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
     
  }
  
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h5 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .form {
    flex: 1;
    margin-bottom: 20px;
  }
  
  .form h1 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .form p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
  }
  
  .form input[type="name"],
  .form input[type="email"],
  .form input[type="number"]
 {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
  }
  
  .form button {
    background-color: #00a3e0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width:98px;
    border: 4px;
  }
  
  @media (max-width: 768px) {
    .page1 {
      flex-direction: column;
    }
  
    .side {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .form {
      width: 100%;
    }
  }
  /*#label{
    font-size: 12px;
    padding-left: 10px;
    color: rgb(127, 176, 255);
  }*/
  