body {
  padding-bottom: 65px;
  background-color: rgb(179, 208, 219);
  font-family: "Roboto", sans-serif;
  align-content: center;
  margin-left: 101px;
  margin-top:89px;
}
.circle:hover {
  color: rgb(15, 3, 3);
  background-color: rgb(43, 107, 107);
  cursor: pointer;
}

.side {
  margin-right: 20px;
  padding: 20px;
  background-image: linear-gradient(rgb(57, 164, 231), navy);
  margin-right: 0;
  margin-bottom: 20px;
 

}
.sideP {
  color: rgba(245, 245, 245, 0.628);
}
.sideH5 {
  color: white;
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: lightskyblue;
  color: whitesmoke;
  font-size: 18px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h5 {
  margin-top: 0;
  margin-bottom: 5px;
}
.h1P {
  color: rgb(9, 9, 105);
}

.page1 {
  background-color: white;
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
  padding: 10px;
}
@media (max-width: 768px) {
  .page1 {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }
}
.form {
  flex: 1;
  margin-bottom: 20px;
}

.form h1 {
  font-size: 17px;
  margin-top: 0;
  margin: 10px;
  margin-left: 50px;
}

.form p {
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: grey;
  margin: 10px;
  margin-left: 50px;
}

.form input[type="text"],
.form input[type="text"],
.form input[type="number"] {
  display: block;
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: groove;
  border-radius: 8px;
  margin: 45px;
}

.firstButton {
  background-color: navy;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  width: 98px;
  border: 4px;
  margin-left: 356px;
  border-radius: 5px;
}
.firstButton > a {
  color: whitesmoke;
}

/*#label{
    font-size: 12px;
    padding-left: 10px;
    color: rgb(127, 176, 255);
  }*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 70%;
  padding: 25px;
  margin: auto;
}

.container > h1,
.container > p {
  margin-top: 0;
}

.header1 {
  color: navy;
  margin-bottom: 15px;
  font-size: 17px;
}

.plans-container {
  display: flex;
}

.plan {
  flex: 1;
  width: 70px;
  padding: 15px;
  border-style: ridge;
  margin: 10px;
}

.plan.selected {
  background-color: #2196f3;
  color: yellow;
}

#planP {
  color: navy;
  font-size: 15px;
}

#pay {
  color: grey;
  font-size: 13px;
}
.duration{
  color:navy;
  font-size: 10px;

}

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10 px;
  background-color: rgb(193, 232, 232);
  width: 350px;
  height: 35px;
  padding-left: 25px;
  
}

.toggle-label {
  margin-right: 10px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  
}

.slider {
  position: relative;
  cursor: pointer;
  width: 55px;
  height: 24px;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  margin-right: 10px;
  
  

 
 

  background-color: #14355D;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color:navy;
}

input:focus + .slider {
  box-shadow: 0 0 1px navy;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.page2button {
  margin-top: 70px;
}
.backbutton {
  margin-right: 60px;
  border: none;
  background-color: white;
  color: navy;
  font-size: 10px;
  padding: 3px;
}

#pagenextbutton{
  margin-left: 190px;
  background-color: navy;
  color: #fff;
  font-size: 9px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  border: 4px;
  border-radius: 5px;
}
/* Style for the main container */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  width:70%;
}
#pickH1{
  color:navy;
  margin-right: 299px;
  margin-top: 5px;
 
}
#pickP{
  margin-right:112px;
  color: grey;
  font-size: 14px;
}
/* Style for the pick container */
#pick1, #pick2, #pick3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
box-sizing: border-box;
width: 437px;
height: 90px;
left: px;
top: px;
background: #F7F7FF;
border: 1px solid #14355D;
border-radius: 20px;
padding:px;
}

/* Style for the checkbox */
#pick1 input[type="checkbox"],
#pick2 input[type="checkbox"],
#pick3 input[type="checkbox"] {
  margin-right:298px;
  margin-top: 25px;
 

}


/* Style for the h4 tag */
#pick1 h4,
#pick2 h4,
#pick3 h4 {
  font-size: 15px;
  margin: 0;
  color:navy;
}


/* Style for the p tag */
#pick1 p,
#pick2 p,
#pick3 p {
  font-size: 12px;
  margin: 0;
  text-align: center;
  color: grey;
}

/* Style for the amount */
#pick1 #amount,
#pick2 #amount,
#pick3 #amount {
  font-size: 13px;
  font-weight: light;
  margin: 0;
  color: navy;
  margin-left: 328px;
  
}

/* Style for the buttons */
button {

  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.pickbackbutton {
 color:navy;
 margin-right:215px;
 font-size: 11px;
 background-color: inherit;
 
}

.Next {
  background-color: navy;
  font-size: 9px;
}
.form {
  position: relative;
}
.error-message {
  position: absolute;
  top: -15px;
  right: 0;
  color: red;
  font-size: 12px;

}